.app-collapsible > .bar {
  height: 32px;
  line-height: 29px;
  margin: 0;
  padding: 0 0.75em;
  background: var(--button-active-bg);
}

.app-collapsible.-animated > .body {
  transition: height 0.2s ease-out;
  overflow: hidden;
}
