.app-footer {
  padding: 2em;
  font-size: 0.8em;
  color: var(--aside-text);
}

.app-footer > p {
  margin: 0;
}

/* stylelint-disable-next-line rscss/no-descendant-combinator */
.app-footer a {
  color: var(--aside-text);
}
