.app-header {
  background: var(--header-bg);
  padding: 10px 20px;
  position: relative;
  user-select: none;
}

.app-header > .title {
  color: var(--header-text);
  font-size: 1em;
  line-height: 1.25em;
  margin: 0;
  text-align: center;
}

.app-header > .actions {
  position: absolute;
  right: 20px;
  top: 10px;
  margin: 0;
}
