.app-icon {
  display: inline-block;
  vertical-align: baseline;
  height: 1em;
}

.app-icon > svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentcolor;
  transition: transform 0.1s ease-out;
  position: relative;
  top: -0.1em;
}

.app-icon.-r180 > svg {
  transform: rotate(180deg);
}

.app-icon.-double > svg:nth-child(2) {
  margin-left: -0.5em;
}
