html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, 'Helvetica Neue',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
}
